.delivery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 3rem;
}
.delivery-content>h1{
    font-size: 42px;
    font-family: 'Rubik';
}
.delivery-content>p{
    margin-block: 1rem;
    font-family: 'Roboto';
    font-size: 16px;
}

.delivery-content{
    max-width: 550px;
}
.delivery-imgs{
    max-width: 550px;
}

@media (max-width: 769px){
    .delivery-container{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .delivery-content>h1{
        font-size: 38px;
    }
}
@media (max-width: 376px){
    .delivery-container{
        padding:3rem 1rem;
    }
    .delivery-imgs{
        overflow: hidden;
    }
}