h6{
    font-family: "Shadows Into Light", cursive;
    color: #ff8d29;
    font-size: 2.5rem;
}
.hero-heading{
    font-family: var(--font5);
    color: #f1d6c6;
    font-size: 4rem;
    margin-bottom: 1.2rem;
}
.hero-discription{
    font-family: var(--font6);
    color: white;
    margin-bottom: 1rem;
}
.hero-info{
    gap: 35px;
    margin-top: 4rem;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top : 3rem;
}


@media (max-width: 768px) {
    .burger{
        display: none;
    }
    .hero-info{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero-info>h1{
        font-size: 2.5rem;
    }
    .hero-container{
        padding: 1rem;
    }
}
