*{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}


.button {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    outline: 1px solid black;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #f9a54b;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid #f9b062;
    cursor: pointer;
}
.button:hover:before {
    top: -35%;
    background-color: #f69c3c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #f39a3c;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#login-container{
  height: 100vh;
}
#login-form{
  gap: 10px;
}

.Form-container{
  margin-top: 5rem;
  height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 500;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }

  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  .span>a{
    text-decoration: none;
  }
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  .alert{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  .Eye{
    padding-right:1rem ;
  }
  .popup{
    display: flex;
    align-items: center;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: slideDown 1s ease-out;
  }
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translate(-50%, -80%); /* Initial position above the screen */
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%); /* Final position centered on the screen */
    }
  }
.credit{
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  background-color: #f69c3c;
}

  @media (max-width: 768px){
    .Form-container{
      padding-top: 2rem;
    }
  }